@import '_mixins', '_variables'
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white

body 
    background-color: black

.container
    width: 75%
    margin: auto

a 
    text-decoration: none

.link 
    cursor: pointer

@import 'components/header'
